.wrapper {
  flex: 1 1 auto;
  background-color: #0d9488;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapper {
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  min-width: 50%;
}
